body {
  background-color: bisque;
  font-family: "Merriweather", serif;
  margin: 0;
}

nav {
  background-color: brown;
  height: 0%;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  padding: 10px 60px;
  margin: auto;
}

/* li{
  text-decoration: none;
  justify-content: space-evenly;
} */

.navbar__menu li {
  display: inline-block;
  list-style: none;

  /*added*/
}
nav ul {
  margin: -51px 0px 0px 0px;
  float: right;
  padding: 0;
  display: flex;
}
nav ul li a {
  line-height: 5px;
  color: rgb(215, 157, 153);
  padding: 12px 10px;
  text-decoration: none;
  transition: 0.3s;
  margin: 10px;
  font-size: 18px;
  animation: fadingNavContent 2.5s linear forwards;
}

#logo {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
  color: white;
  margin: 0rem 0rem 0rem 1rem;
  display: block;
  max-width: max-content;
  animation: fadingNavContent 2.5s linear forwards;
}
nav {
  animation: rolling 2s linear forwards;
}
@keyframes rolling {
  0% {
    background-color: brown;
    height: 0%;
    width: 0%;
    border-radius: 100px;
    transform: translateY(0px);
  }  

  20%{
    transform: translateY(50px);
  }

  55% {
    background-color: brown;
    height: 0%;
    width: 0%;
    border-radius: 100px;
    transform: translateY(0px);
  }
  70% {
    background-color: brown;
    height: 0%;
    width: 70%;
    border-radius: 100px;
    transform: translateY(0px);
  }
  90% {
    background-color: brown;
    height: 0%;
    width: 90%;
    border-radius: 100px;
  }
  100% {
    opacity: 1;
    border-left: 200px;
    border-right: 200px;
  }
}

@keyframes fadingNavContent {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
